.column-div{
    width: 25vw;
    height: 90vh;
    margin-left: 2vw;
    margin-right: 2vw;
    padding: 10px;
    background: #FFFFFF;
    border: 2px dashed rgba(28, 29, 34, 0.08);
    border-radius: 12px;
}