.header {
    border-bottom: 5px solid rgba(0,0,0,0.1);
    width: 10vw;
    height: 50px;
    margin-bottom: 2vh;
    margin-left: 17vw;
    margin-top: 2vh;
    padding-left: 80vw;
    z-index: 100;
    position: absolute;
}